* {
  /* border: #f01313 solid 1px; */
}
.body {
  display: flex;
  color: aliceblue;
}

section {
  padding: 15% 0;
}
.navbar .eye {
  margin-left: 45%;
}
.navbar .pupil {
  position: relative;
  fill: #010047;
}
.navbar .eyeball {
  fill: rgb(134, 134, 134);
}

#projects {
  background-color: #2b193d;
}
#about {
  background-color: #ada9a9;
  color: #010047;
}
.jumbotron {
  background-color: #628e90;
}
