.body {
  display: flex;
  color: aliceblue;
}
.jumbotron {
  background-color: rgb(43, 53, 63);
}
section {
  padding: 15% 0;
}
.navbar .eye {
  margin-left: 45%;
}
.navbar .pupil {
  position: relative;
  fill: #010047;
}
.navbar .eyeball {
  fill: rgb(134, 134, 134);
}

#project img {
  width: 30%;
}
