.body {
  display: flex;
}
.jumbotron {
  padding-top: 8rem;
  background: #8a9de2;
}
section {
  padding-top: 6rem;
}
.navbar .eye {
  margin-left: 45%;
}
.navbar .pupil {
  position: relative;
  fill: #ff1e00;
}
.navbar .eyeball {
  fill: rgb(18, 37, 65);
}
.navbar .pupil:hover {
  width: 7px;
  height: 7px;
}
